USE [master]
GO
/****** Object:  Database [Game]    Script Date: 2/27/2023 9:31:38 AM ******/
CREATE DATABASE [Game]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Game', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Game.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Game_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Game_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Game].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Game]
GO
/****** Object:  Table [dbo].[GameResults]    Script Date: 2/27/2023 9:31:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameResults](
	[PkGameResultId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[PlayerId] [int] NOT NULL,
	[GameName] [nvarchar](max) NULL,
	[Timestamp] [bigint] NOT NULL,
 CONSTRAINT [PK_GameResults] PRIMARY KEY CLUSTERED 
(
	[PkGameResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GameSession]    Script Date: 2/27/2023 9:31:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameSession](
	[PkGameSessionId] [int] IDENTITY(1,1) NOT NULL,
	[DurationSeconds] [int] NOT NULL,
	[StartTimeStamp] [bigint] NOT NULL,
	[EndTimeStamp] [bigint] NOT NULL,
	[PositiveActions] [int] NOT NULL,
	[NegativeActions] [int] NOT NULL,
	[DifficultyLevel] [int] NOT NULL,
	[Outcome] [nvarchar](max) NULL,
	[GameResultId] [int] NOT NULL,
 CONSTRAINT [PK_GameSession] PRIMARY KEY CLUSTERED 
(
	[PkGameSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[GameResults] ON 

INSERT [dbo].[GameResults] ([PkGameResultId], [UserId], [PlayerId], [GameName], [Timestamp]) VALUES (1, N'1', 1, N'Football', 20230226)
SET IDENTITY_INSERT [dbo].[GameResults] OFF
SET IDENTITY_INSERT [dbo].[GameSession] ON 

INSERT [dbo].[GameSession] ([PkGameSessionId], [DurationSeconds], [StartTimeStamp], [EndTimeStamp], [PositiveActions], [NegativeActions], [DifficultyLevel], [Outcome], [GameResultId]) VALUES (1, 20, 20230226132344, 20230226142344, 5, 1, 0, N'Test2', 1)
SET IDENTITY_INSERT [dbo].[GameSession] OFF
/****** Object:  Index [IX_GameSession_GameResultId]    Script Date: 2/27/2023 9:31:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_GameSession_GameResultId] ON [dbo].[GameSession]
(
	[GameResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GameSession]  WITH CHECK ADD  CONSTRAINT [FK_GameSession_GameResults_GameResultId] FOREIGN KEY([GameResultId])
REFERENCES [dbo].[GameResults] ([PkGameResultId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameSession] CHECK CONSTRAINT [FK_GameSession_GameResults_GameResultId]
GO
USE [master]
GO
